.Pokecard {
    border: 2px solid midnightblue;
    width: 250px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -7px rgba(0, 0, 0, 0.6); 
    text-align: center;
    background-color: white;
    border-radius: 15;
}

.Pokecard-title {

}

.Pokecard-data {
    font-size: 80%;
}